.grid-container {
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-row {
    display: flex;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;
}
.letter-tile {
    margin: 15px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
    border: 5px solid transparent;
    border-radius: 10%;
    
}
.letter-tile.selected {
    background-color: #b696a3;
    border-color: #ffaacc;
}
.found-word {
    text-decoration: line-through;
    color: red;
}